In [2]:
import pandas as pd , seaborn as sns , numpy as np
pd.set_option('display.max_columns', 100)

In [3]:
dataset = pd.read_csv('NHANES.csv')
dataset.head()
#col_names = dataset.columns

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [13]:
keep = [column for column in col_names if "BMX" in column]
keep

['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']

In [17]:
#To extract all the columns related to body measures
da = dataset[keep]
da.head()
da.shape

(5735, 7)

In [21]:
da = dataset.loc[:,keep]
da.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [28]:
#Selection by conditions

waist_median = np.median(da.BMXWAIST.dropna())
print(waist_median)
da[da.BMXWAIST > waist_median].shape

98.3

(2677, 7)

In [32]:
#Let's add another condition of BMXLEG < 32
da[(da.BMXWAIST > waist_median) & (da.BMXLEG < 32)].dropna().head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [42]:
condition1 = da.BMXWAIST > waist_median
condition2 = da.BMXLEG < 32
da.loc[condition1 & condition2 ,:].dropna().head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [65]:
#Let's create one more dataframe to look the differences between loc and iloc
tmp = da.loc[condition1 & condition2 ,:].head()
tmp.index = ['a','b','c','d','e']
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8    35.4    31.6     32.7     33.7     113.5
b   75.6  145.2    35.9    31.0     33.1     36.0     108.0
c   63.7  147.9    29.1    26.0     34.0     31.5     110.0
d  105.9  157.7    42.6    29.2     35.0     40.7     129.1
e   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [48]:
tmp.loc[['a','b'],"BMXLEG"]

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8    35.4    31.6     32.7     33.7     113.5
b   75.6  145.2    35.9    31.0     33.1     36.0     108.0

In [49]:
tmp.iloc[[0,1],3]

a    31.6
b    31.0
Name: BMXLEG, dtype: float64

In [50]:
tmp.iloc[:,3]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [52]:
tmp.loc[:,'BMXLEG']

a    31.6
b    31.0
c    26.0
d    29.2
e    30.5
Name: BMXLEG, dtype: float64

In [66]:
tmp.iloc[1:2,3:5] = 31.0

#How to drop a specific row in pandas
tmp = tmp[tmp.BMXWT != 80.5]
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
b   75.6  145.2    35.9    31.0     31.0     36.0     108.0
c   63.7  147.9    29.1    26.0     34.0     31.5     110.0
d  105.9  157.7    42.6    29.2     35.0     40.7     129.1
e   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [76]:
columns  = [column for column in dataset.columns if "BMX" not in column]
len(columns)

21

In [73]:
da.columns

Index(['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST'], dtype='object')

In [7]:
#Finding mean of first 100 rows of systolic BP when AGE > 60

np.mean(dataset[dataset.RIDAGEYR > 60].loc[0:100,'BPXSY1'])

139.57142857142858

In [9]:
test = pd.DataFrame({'col1' : np.repeat((3,1),5) , 'col2':range(3,13)}, index = range(0,10))
test

   col1  col2
0     3     3
1     3     4
2     3     5
3     3     6
4     3     7
5     1     8
6     1     9
7     1    10
8     1    11
9     1    12

In [10]:
np.mean(test[test.col1 > 2].loc[0:10,'col2'])

5.0